version: 2.1

orbs:
  node: circleci/node@5.0.3

jobs:
  build:
    docker:
      - image: cimg/node:16.17
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Run Lint
          command: npm run lint
      - run:
          name: Run Tests
          command: npm run test
      - run:
          name: Deploy to Elastic Beanstalk
          command: npm run deploy
